/*
 * $Author: tom $
 * $Revision: 76 $
 * $LastChangedDate: 2008-01-28 07:39:37 +0100 (Mon, 28 Jan 2008) $
 */

body{font:normal 62.5% 'Lucida Grande', Verdana;}
ol{list-style-type:none;margin:0;padding:0;font-size:11px}
ol a{color:#024E80;text-decoration:none;display:block;width:50%}
ol a:hover{background:#eee}